.header {
    width: 100vw;
    height: 250px;
    border: 1px solid #000;

    .icon {
        width: 65px;
        height: 65px;
        border: 1px solid #000;
        border-radius: 50%;
    }
}

